<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Analog_Performance_viewer.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Analog_Performance_viewer.AppSettings>
            <setting name="Left_loc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top_loc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Show_CPU_usage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UI_animations" serializeAs="String">
                <value>True</value>
            </setting>
        </Analog_Performance_viewer.AppSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
